.sections-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background: rgb(2, 153, 83);
  height: 100vh;
  justify-content: space-evenly;
  align-content: center;
}

.column-1,
.column-2,
.column-3,
.column-4 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-1 img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  border-radius: 8px;
  border: solid 4px greenyellow;
  animation-delay: 0s;
  animation-duration: 12s;
  animation-name: carrousel-1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.column-2 img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  border-radius: 8px;
  border: solid 4px greenyellow;
  animation-delay: 2s;
  animation-duration: 12s;
  animation-name: carrousel-2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.column-3 img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  border-radius: 8px;
  border: solid 4px greenyellow;
  animation-delay: 4s;
  animation-duration: 12s;
  animation-name: carrousel-3;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.column-4 img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  border-radius: 8px;
  border: solid 4px greenyellow;
  animation-delay: 6s;
  animation-duration: 12s;
  animation-name: carrousel-4;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes carrousel-1 {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-60vw);
  }
}

@keyframes carrousel-2 {
  from {
    transform: translateX(80vw);
  }

  to {
    transform: translateX(-80vw);
  }
}

@keyframes carrousel-3 {
  from {
    transform: translateX(60vw);
  }

  to {
    transform: translateX(-100vw);
  }
}

@keyframes carrousel-4 {
  from {
    transform: translateX(40vw);
  }

  to {
    transform: translateX(-120vw);
  }
}
